header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #191919;
}
@media screen and (max-width: 900px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}
@media screen and (max-width: 520px) {
  header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
header .title .title-img {
  width: 15%;
}
header .title .title-text {
  padding-right: 1rem;
  text-decoration: none;
  color: indianred;
}
@media screen and (max-width: 520px) {
  header .title .title-text {
    padding-right: unset;
  }
}
header .title .title-text:hover {
  color: aquamarine;
}
header .title .title-text h1 {
  font-size: 48px;
}
@media screen and (max-width: 520px) {
  header .title .title-text h1 {
    font-size: 30px;
  }
}
header .nav {
  position: relative;
  right: 125px;
}
@media screen and (max-width: 900px) {
  header .nav {
    position: unset;
  }
}
@media screen and (max-width: 520px) {
  header .navbar {
    right: 15px;
  }
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 18px;
}
@media screen and (max-width: 520px) {
  .navbar-list {
    font-size: 13px;
  }
}
.navbar-list li {
  padding: 1rem;
}
.navbar-list li a {
  color: blue;
  text-decoration: none;
}
.navbar-list li a:hover {
  color: rgb(229, 228, 228);
}

main, .card-container .card {
  background-color: rgb(65, 65, 65);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(133, 133, 133);
}
@media screen and (max-width: 520px) {
  footer {
    display: none;
  }
}

.welcome-section, .welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-title h2 {
  font-size: 23px;
  color: rgb(229, 228, 228);
}

.welcome-text {
  font-size: 18px;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 520px) {
  .welcome-text {
    font-size: 13px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: row;
}
.card-container .card {
  width: 300px;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  border: none;
  padding: 1rem;
}
.card-container .card .card-img {
  width: 100%;
}
.card-container .card h4 {
  font-size: 18px;
  color: rgb(229, 228, 228);
}
.card-container .card a {
  color: deeppink;
  font-size: 18px;
  text-decoration: none;
}
@media screen and (max-width: 520px) {
  .card-container .card a {
    font-size: 13px;
  }
}
.card-container .card a:hover {
  color: black;
}

/*ESTILOS PARA CONTACT.HTML*/
.section-form {
  display: flex;
  justify-content: space-around;
  align-items: unset;
  flex-direction: row;
}
@media screen and (max-width: 520px) {
  .section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#button {
  width: 30%;
  margin: 10px;
}

/*ESTILOS PARA RECORDS.HTML*/
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 200px;
}
@media screen and (max-width: 900px) {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.nav-records {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-records ul {
  margin-bottom: unset;
}
@media screen and (max-width: 520px) {
  .nav-records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

/*ESTILOS DE DROPDOWN SE APLICAN EN RECORDS Y WISHLIST*/
.dropdown {
  display: inline-block;
  position: relative;
  padding: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.records {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}

.heading {
  border-bottom: solid darkblue 1px;
}

/*ESTILOS PARA PROFILE.HTML*/
.top-section {
  display: grid;
  grid-template-areas: "profile-section user-stats";
  margin-bottom: 2rem;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5rem;
}

.name {
  position: relative;
  padding: 1rem;
  color: rgb(229, 228, 228);
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.stat {
  padding: 1rem;
  border-right: grey solid 1px;
  font-size: 20px;
  color: rgb(229, 228, 228);
}

.user-stats p {
  text-align: center;
}

/*RECORDS CARDS Y CARDS SE APLICAN EN PROFILE Y LISTS*/
.records-cards {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}

.cards {
  padding: 1rem;
}

.cards img {
  width: 220px;
  height: 250px;
}

.list-title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  border-bottom-width: 1px;
  border-bottom-color: darkblue;
  border-bottom-style: solid;
  color: rgb(229, 228, 228);
}

/*ESTILOS PARA WISHLIST*/
.navbar-wishlist {
  margin-bottom: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.list-container {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}

/*ESTILOS PARA ARCHIVOS DEL DIRECTORIO RECORD*/
.grid-container-santi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.actions-logos {
  width: 2rem;
}

.actions-logos :hover {
  color: greenyellow;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.links-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.links-navba a {
  padding: 1rem;
  font-size: 20px;
}

.links-navbar h5 {
  padding: 1rem;
}

.grid-item h3 {
  font-size: 40px;
  font-family: "Caprasimo", serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-size: 26px;
}

.actions1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.rate {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rate-panel {
  display: inline-block;
}

.grid-item img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
