header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #191919;
}
@media screen and (max-width: 900px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}
header .title .title-img {
  width: 15%;
}
header .title .title-text {
  padding-right: 1rem;
  text-decoration: none;
  color: indianred;
}
@media screen and (max-width: 520px) {
  header .title .title-text {
    padding-right: 0.5rem;
  }
}
header .title .title-text:hover {
  color: aquamarine;
}
header .title .title-text h1 {
  font-size: 3em;
}
@media screen and (max-width: 520px) {
  header .title .title-text h1 {
    font-size: 2em;
  }
}
header .nav {
  position: relative;
  right: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  header .nav {
    position: unset;
  }
}
@media screen and (max-width: 520px) {
  header .nav .navbar {
    visibility: hidden;
  }
}
@media screen and (max-width: 520px) and (max-width: 520px) {
  header .nav .navbar .visible {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 520px) {
  header .nav .navbar {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  header .nav .navbar .navbar-list {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
}
header .open-menu, header .close-menu {
  display: none;
}
@media screen and (max-width: 520px) {
  header .open-menu, header .close-menu {
    display: block;
    border: none;
    font-size: 1.5em;
    color: aquamarine;
    background-color: #191919;
  }
}
header .close-menu {
  position: relative;
  right: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.25em;
}
@media screen and (max-width: 520px) {
  .navbar-list {
    font-size: 1em;
  }
}
.navbar-list li {
  padding: 1rem;
}
.navbar-list li a {
  color: blue;
  text-decoration: none;
}
.navbar-list li a:hover {
  color: rgb(229, 228, 228);
}

main, .card-container .card, footer {
  background-color: rgb(65, 65, 65);
  padding: 1rem;
}
main p, .card-container .card p, footer p {
  font-size: 1.25em;
  color: rgb(229, 228, 228);
}

footer {
  text-align: center;
  background-color: rgb(133, 133, 133);
}

.welcome-section, .welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-title h2 {
  font-size: 2em;
  color: indianred;
}

.welcome-text {
  font-size: 1.25em;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 520px) {
  .welcome-text {
    font-size: 1em;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: row;
}
.card-container .card {
  width: 300px;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  border: none;
  padding: 1rem;
}
.card-container .card .card-img {
  width: 100%;
}
.card-container .card h4 {
  font-size: 1.5em;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 520px) {
  .card-container .card h4 {
    font-size: 1.25em;
  }
}
.card-container .card a {
  color: deeppink;
  font-size: 1.25em;
  text-decoration: none;
}
@media screen and (max-width: 520px) {
  .card-container .card a {
    font-size: 1em;
  }
}
.card-container .card a:hover {
  color: black;
}

/*ESTILOS PARA CONTACT.HTML*/
.section-form {
  display: flex;
  justify-content: space-around;
  align-items: unset;
  flex-direction: row;
}
@media screen and (max-width: 520px) {
  .section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#button {
  width: 30%;
  margin: 10px;
}

/*ESTILOS PARA RECORDS.HTML*/
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 200px;
}
@media screen and (max-width: 900px) {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.nav-records {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-records ul {
  margin-bottom: unset;
}
@media screen and (max-width: 520px) {
  .nav-records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

/*ESTILOS DE DROPDOWN SE APLICAN EN RECORDS Y WISHLIST*/
.dropdown {
  display: inline-block;
  position: relative;
  padding: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.records {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}

.heading {
  border-bottom: solid darkblue 1px;
}

/*ESTILOS PARA PROFILE.HTML*/
.top-section {
  display: grid;
  grid-template-areas: "profile-section user-stats";
  margin-bottom: 2rem;
}
@media screen and (max-width: 520px) {
  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.top-section .profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5rem;
}
.top-section .profile-section .name {
  position: relative;
  padding: 1rem;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 900px) {
  .top-section .profile-section .name {
    font-size: 1.25em;
  }
}
.top-section .profile-section .avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .top-section .profile-section .avatar {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 520px) {
  .top-section .profile-section .avatar {
    height: 70px;
    width: 70px;
  }
}
.top-section .user-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 520px) {
  .top-section .user-stats {
    padding-top: 1rem;
  }
}
.top-section .user-stats p {
  text-align: center;
}
.top-section .user-stats .stat {
  padding: 1rem;
  border-right: grey solid 1px;
  font-size: 1.25em;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 900px) {
  .top-section .user-stats .stat {
    font-size: 1em;
  }
}

/*RECORDS CARDS Y CARDS SE APLICAN EN PROFILE Y LISTS*/
.records-cards {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
.records-cards .cards img {
  padding: 0.5rem;
  width: 220px;
  height: 250px;
}
@media screen and (max-width: 900px) {
  .records-cards .cards img {
    width: 180px;
    height: 210px;
  }
}
@media screen and (max-width: 520px) {
  .records-cards .cards img {
    width: 140px;
    height: 170px;
  }
}
.records-cards .list-text {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  border-bottom-width: 1px;
  border-bottom-color: darkblue;
  border-bottom-style: solid;
  color: aquamarine;
}
@media screen and (max-width: 520px) {
  .records-cards .list-text {
    font-size: 1.25em;
  }
}

.list-title {
  color: indianred;
  font-size: 2em;
}
@media screen and (max-width: 520px) {
  .list-title {
    font-size: 1.75em;
  }
}

/*ESTILOS PARA WISHLIST*/
.navbar-wishlist {
  margin-bottom: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.list-container {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 520px) {
  .list-container .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .list-container .card-container .card {
    width: 250px;
  }
}

/*ESTILOS PARA ARCHIVOS DEL DIRECTORIO RECORD*/
.grid-container-record {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 900px) {
  .grid-container-record {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .grid-container-record {
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
  }
}
.grid-container-record .grid-item-record-left, .grid-container-record .grid-item-record-right, .grid-container-record .grid-item-record-center {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}
.grid-container-record .grid-item-record-left h5, .grid-container-record .grid-item-record-right h5, .grid-container-record .grid-item-record-center h5 {
  color: rgb(229, 228, 228);
}
.grid-container-record .grid-item-record-left h3, .grid-container-record .grid-item-record-right h3, .grid-container-record .grid-item-record-center h3 {
  font-size: 40px;
  font-family: "Caprasimo", serif;
  color: rgb(229, 228, 228);
}
@media screen and (max-width: 900px) {
  .grid-container-record .grid-item-record-left h3, .grid-container-record .grid-item-record-right h3, .grid-container-record .grid-item-record-center h3 {
    font-size: 2em;
  }
}
.grid-container-record .grid-item-record-left p, .grid-container-record .grid-item-record-right p, .grid-container-record .grid-item-record-center p {
  color: rgb(229, 228, 228);
}
.grid-container-record .grid-item-record-left h6, .grid-container-record .grid-item-record-right h6, .grid-container-record .grid-item-record-center h6 {
  color: rgb(229, 228, 228);
}
.grid-container-record .grid-item-record-left img, .grid-container-record .grid-item-record-right img, .grid-container-record .grid-item-record-center img {
  width: 80%;
}
@media screen and (max-width: 900px) {
  .grid-container-record .grid-item-record-left img, .grid-container-record .grid-item-record-right img, .grid-container-record .grid-item-record-center img {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .grid-container-record .grid-item-record-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.grid-container-record .tracklist-ordered {
  list-style-type: decimal-leading-zero;
}
.grid-container-record .tracklist-ordered .track {
  color: rgb(229, 228, 228);
  font-size: 1.25em;
}
.grid-container-record .sidebar {
  position: relative;
  right: 30px;
}
.grid-container-record .sidebar .sidebar-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
}
.grid-container-record .sidebar .sidebar-actions .logo-text {
  font-size: 1.5em;
}
.grid-container-record .sidebar .sidebar-actions .actions-logos {
  width: 2rem;
}
.grid-container-record .sidebar .sidebar-actions .actions-logos:hover {
  color: green;
}
.grid-container-record .sidebar .sidebar-actions .actions1 {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: row;
}
.grid-container-record .sidebar .sidebar-actions .actions1 .action {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.grid-container-record .sidebar .sidebar-actions .rate {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.grid-container-record .sidebar .sidebar-actions .rate .rate-panel {
  display: inline-block;
}
.grid-container-record .sidebar .sidebar-actions .add-list {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}

.resume, .use, .membership {
  padding: 1rem;
  color: rgb(229, 228, 228);
  font-size: 1.25em;
}
.resume h4, .use h4, .membership h4 {
  font-size: 2em;
  color: indianred;
}
.resume h3, .use h3, .membership h3 {
  color: aquamarine;
}
@media screen and (max-width: 900px) {
  .resume, .use, .membership {
    font-size: 1em;
  }
  .resume h4, .use h4, .membership h4 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 520px) {
  .resume, .use, .membership {
    font-size: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
