//VARIABLES
$link-style: none;
$list-style: none;
$main-font-titles: 3em;
$secondary-font-titles: 2em;
$mobile-font-titles: 1.75em;
$card-font-text: 1.5em;
$main-font-text: 1.25em;
$mobile-font-text: 1em;
$text-color: rgb(229, 228, 228);
$title-color1: indianred;
$title-color2: aquamarine;
