//VARIABLES
$link-style: none;
$list-style: none;
$main-font-text: 20px;
$main-font-titles: 48px;

@mixin flex($direction, $justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin tablet{
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width:480px) {
        @content;
    }
}

header{
    @include flex(row, center, center );
    @include tablet(){
        @include flex(column, center , center);
    }
    background-color: darkslategray;
    .title{
        @include flex(row, center , center);
        @include mobile(){
            @include flex(column-reverse, center, center);
        }
        padding: 1rem;
        .title-img{
            width: 15%;
        }
        .title-text{
            padding-right: 1rem;
            text-decoration: $link-style;
            color: indianred;
            &:hover{
                color: aquamarine;
            }
            h1{
                font-size: $main-font-titles;
            }
        }
    }
    .nav{
        position: relative;
        right: 125px;
        @include tablet(){
            position: unset;
        }
    }
}
.navbar-list{
    @include flex(row, center, center);
    list-style-type: $list-style;
    font-size: $main-font-text;
    li {
        padding: 1rem;
        a {
            text-decoration: $link-style;
            &:hover{
                color: black;
            }
        }
    }
}

main{
    background-color: dimgray;
    .welcome-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .welcome-title{
            h2{
                font-size: $main-font-titles;
            }
        }
        .welcome-text{
            font-size: $main-font-text;
            @extend .welcome-section;
        }
    }

.card-container{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    .card{
        width: 300px;
        background-color: dimgray;
        flex-direction: column;
        align-items: center;
        border: none;
        padding: 1rem;
        .card-img{
            width: 100%;
        }
        a{
            color: darkmagenta;
            font-size: $main-font-text;
            text-decoration: $link-style;
            &:hover{
                color: black;
            }
        }
    }
}
footer{
    @include flex(row, center , center);
    background-color: darkgrey;
    @include mobile(){
        display: none;
    }
}