//VARIABLES
$link-style: none;
$list-style: none;
$main-font-titles: 3em;
$secondary-font-titles: 2em;
$mobile-font-titles: 1.75em;
$card-font-text: 1.5em;
$main-font-text: 1.25em;
$mobile-font-text: 1em;
$text-color: rgb(229, 228, 228);
$title-color1: indianred;
$title-color2: aquamarine;

@mixin flex($direction, $justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin tablet{
    @media screen and (max-width:900px) {
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width:520px) {
        @content;
    }
}

header{
    //esta parte se aplicara a TODA las paginas en general
    @include flex(row, center, center );
    @include tablet(){
        @include flex(column, center , center);
    }
    @include mobile(){
        @include flex(row, center, center)
    }
    background-color: #191919;
    .title{
        @include flex(row, center , center);
        padding: 1rem;
        .title-img{
            width: 15%;
        }
        .title-text{
            padding-right: 1rem;
            @include mobile(){
                padding-right: 0.5rem;
            }
            text-decoration: $link-style;
            color: $title-color1;
            &:hover{
                color: $title-color2;
            }
            h1{
                font-size: $main-font-titles;
            }
            @include mobile(){
                h1{
                    font-size: $secondary-font-titles;
                }
            }
        }
    }
    .nav{
        position: relative;
        right: 125px;
        @include flex(row, center, center);
        @include tablet(){
            position: unset;
        }
        .navbar{
            .burger-menu{
                display: none;
                @include mobile(){
                    display: block;
                }
            }
            @include mobile(){
                //display: none;
                @include flex(column, center, center);
            }
            .navbar-list{
                @include mobile(){
                    opacity: 0;
                    visibility: hidden;
                    @include flex(column, center, end);
                }
            }
            .visible{
                opacity: 1;
                visibility: visible;
            }
        }
    }

}
.navbar-list{
    @include flex(row, center, center);
    list-style-type: $list-style;
    font-size: $main-font-text;
    @include mobile(){
        font-size: $mobile-font-text;
    }
    li {
        padding: 1rem;
        a {
            color: blue;
            text-decoration: $link-style;
            &:hover{
                color: rgb(229, 228, 228);
            }
        }
    }
}

main{
    //esta parte se aplicara a TODA las paginas en general
    background-color: rgb(65, 65, 65);
    p{
        font-size: $main-font-text;
        color: $text-color;
    }
    padding: 1rem;
}

footer{
    //esta parte se aplicara a TODA las paginas en general
    @extend main;
    text-align: center;
    background-color: rgb(133, 133, 133);
}
//lo siguiente solo se aplica en index.html
.welcome-section{
    @include flex(column, center, center);
}
.welcome-title{
    h2{
        font-size: $secondary-font-titles;
        color: $title-color1;
    }
}
.welcome-text{
    font-size: $main-font-text;
    color: $text-color;
    @extend .welcome-section;
    @include mobile(){
        font-size: $mobile-font-text;
    }
}
.card-container{ 
    @include flex(row, center, unset);
    .card{
        width: 300px;
        @extend main;
        @include flex(column, unset, center);
        border: none;
        padding: 1rem;
        .card-img{
            width: 100%;
        }
        h4{
            font-size: $card-font-text;
            color: $text-color;
            @include mobile(){
                font-size: $main-font-text;
            }
        }
        a{
            color: deeppink;
            font-size: $main-font-text;
            @include mobile(){
                font-size: $mobile-font-text;
            }
            text-decoration: $link-style;
            &:hover{
                color: black;
            }
        }
    }
}

/*ESTILOS PARA CONTACT.HTML*/
.section-form{
    @include flex(row, space-around, unset);
    @include mobile(){
        @include flex(column, center, center);
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#button{
    width: 30%;
    margin: 10px;
}

/*ESTILOS PARA RECORDS.HTML*/

.filters{
    @include flex(row, center, center);
    margin-bottom: 200px;
    @include tablet(){
        @include flex(column, center, center);
    }
}
.nav-records{
    @include flex(row, center, center);
    ul{
        margin-bottom: unset;
    }
    @include mobile(){
        @include flex(column-reverse, center, center)
    }
}
/*ESTILOS DE DROPDOWN SE APLICAN EN RECORDS Y WISHLIST*/
.dropdown {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content{
    a{
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
    }
}
.dropdown-content {
    a{
        &:hover{
            color: #FFFFFF;
            background-color: #00A4BD;
        }
    }
}

.records{
    @include flex(column, unset, center);
}

.heading{
    border-bottom: solid darkblue 1px;
}

/*ESTILOS PARA PROFILE.HTML*/
.top-section{
    display: grid;
    grid-template-areas: 
    'profile-section user-stats';
    margin-bottom: 2rem;
    @include mobile(){
        @include flex(column, center, center);
    }
    .profile-section{
        @include flex(row, center, center);
        padding-top: 0.5rem;
        .name{
            position: relative;
            padding: 1rem;
            color: $text-color;
            @include tablet(){
                font-size: $main-font-text;
            }
        }
        .avatar{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            @include tablet(){
                height: 100px;
                width: 100px;
            }
            @include mobile(){
                height: 70px;
                width: 70px;
            }
        }
    }
    .user-stats{
        @include flex(row, center, center);
        @include mobile(){
            padding-top: 1rem;
        }
        p{
            text-align: center;
        }
        .stat{
            padding: 1rem;
            border-right: grey solid 1px;
            font-size: $main-font-text;
            color: $text-color; 
            @include tablet(){
                font-size: $mobile-font-text;
            }
        }
    }
}


/*RECORDS CARDS Y CARDS SE APLICAN EN PROFILE Y LISTS*/


.records-cards{
    @include flex(column, unset, center);
    .cards{
        img{
            padding: 0.5rem;
            width: 220px;
            height: 250px;
            @include tablet(){
                width: 180px;
                height: 210px;
            }
            @include mobile(){
                width: 140px;
                height: 170px;
            }
        }
    }
    .list-text{
        font-family: 'Oswald', sans-serif;
        font-size: $secondary-font-titles;
        @include mobile(){
            font-size: $main-font-text;
        }
        border-bottom-width: 1px;
        border-bottom-color: darkblue;
        border-bottom-style: solid;
        color: $title-color2;
    }
}
.list-title{
    color: $title-color1;
    font-size: $secondary-font-titles;
    @include mobile(){
        font-size: $mobile-font-titles;
    }
}

/*ESTILOS PARA WISHLIST*/
.navbar-wishlist{
    margin-bottom: 200px;
    @include flex(row, flex-start, center);
}

.list-container{
    @include flex(column, unset, center);
    .card-container{
        @include mobile(){
            @include flex(column, center, center);;
        }
        .card{
            @include tablet(){
                width: 250px;
            }
        }
    }
}

/*ESTILOS PARA ARCHIVOS DEL DIRECTORIO RECORD*/
.grid-container-record{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include tablet(){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @include mobile(){
        @include flex(column, unset, center);
    }
    .grid-item-record-left{
        @include flex(column, unset , center);
        padding-top: 1rem;
        h5{
            color: $text-color;
        }
        h3{
            font-size: 40px;
            font-family: 'Caprasimo', serif;
            color: $text-color;
            @include tablet(){
                font-size: $secondary-font-titles;
            }
        }
        p{
            color: $text-color;
        }
        h6{
            color:$text-color;
        }
        img{
            width: 80%;
            @include tablet(){
                width: 60%;
            }
        }
    }
    
    .grid-item-record-center{
        @extend .grid-item-record-left;
    }
    
    .grid-item-record-right{
        @extend .grid-item-record-left;
        @include tablet(){
            @include flex(row, center, center);
        }
    }
    .tracklist-ordered{
        list-style-type: decimal-leading-zero;
        .track{
            color: $text-color;
            font-size: $main-font-text;
        }
    }
    .sidebar{
        position: relative;
        right: 30px;
        .sidebar-actions{
            @include flex(column, center, center);
            list-style-type: $list-style; 
            .logo-text{
                font-size: $card-font-text;
            }    
            .actions-logos{
                width: 2rem;
                &:hover{
                    color: green;
                }
            }
            .actions1{
                @include flex(row, space-between, unset);
                .action{
                    @include flex(column, unset, center);
                    padding: 1rem;
                }
            }
            .rate{
                display: flex;
                flex-direction: column;
                text-align: center;
                .rate-panel{
                    display: inline-block;
                }            
            } 
            .add-list{
                @include flex(column, unset, center);
            }       
        }
    }
}

//ESTILOS PARA ABOUT.HTML
.resume{
    padding: 1rem;
    color: $text-color;
    font-size: $main-font-text;
    h4{
        font-size: $secondary-font-titles;
        color: $title-color1;
    }
    h3{
        color: $title-color2;
    }
    @include tablet(){
        font-size: $mobile-font-text;
        h4{
            font-size: $mobile-font-titles;
        }
    }
    @include mobile(){
        font-size: $mobile-font-text;
    }
}

.membership{
    @extend .resume;
}

.use{
    @extend .resume;
}