.main{
    display: block;
}

.section-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.card{
    width: 300px;
    padding: 1rem;
    border-style: none;
    background-color: darkcyan;
}

.card img{
    width: 100%;
}

.card h5{
    text-align: center;
    margin-top: 8px;
}

.card a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.card a:hover{
    color: chartreuse;
}

#button{
    width: 15%;
    margin: 10px;
}

