

.top-section{
    display: grid;
    grid-template-areas: 
    'profile-section profile-menu user-stats';
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.profile-section{
    display: flex;
    flex-direction: row;
}

.name{
    position: relative;
    margin-top: 45px;
    padding: 1rem;
}

.avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.navbar-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
}

.user-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stat{
    padding: 1rem;
    border-right: grey solid 1px;
    font-size: 20px;
}

.user-stats p{
    text-align: center;
}

.records-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    padding: 1rem;
}

.cards img{
    width: 220px;
    height: 250px;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    border-bottom-width: 1px;
    border-bottom-color: darkblue;
    border-bottom-style: solid;
}

img{
    width: 250px;
}

@media(min-width:425px) and (max-width:590px){
    .top-section{
        grid-template-columns: none;
        grid-template-areas: none;
        grid-template-rows: repeat(2, 1fr);
    }
    .stat{
        font-size: 20px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}