.grid-container-santi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.actions-logos{
    width: 3rem;
}

.actions-logos :hover{
    color: greenyellow;
}

.grid-item{
    padding: 1rem;
}

.links-navbar{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links-navbar a{
    padding: 1rem;
    font-size: 20px;
}
.links-navbar h5{
    padding: 1rem;
}


.grid-item h3{
    font-size: 40px;
    font-family: 'Caprasimo', serif;
}

.card{
    font-size: 28px;
    border-bottom: darkblue solid 1px;
    border-radius: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text{
    font-size: 26px;
}

.actions1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.rate{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rate-panel{
    display: inline-block;
}

img{
    width: 100%;
}
