/*ESTILOS APLICADOS PARA LA VISTA EN CADA PAGINA; CARDS SE APLICA EN INDEX, CONTACT, RECORDS Y WISHLIST*/
.header{
    background-color: darkslategray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 0px;
}

.header ul{
    display: flex;
    flex-direction: row;
}

li{
    padding: 1rem;
}
ul{
    list-style-type: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    background-color: darkcyan;
    padding: 1rem;
}

.title-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover{
    color: blue;
}

h1{
    margin-top: 15px;
}


.card{
    width: 300px;
    padding: 1rem;
    border-style: none;
    background-color: darkcyan;
    font-size: 28px;
}

.card img{
    width: 100%;
}

.card h5{
    text-align: center;
    margin-top: 8px;
}

.card a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.card a:hover{
    color: blue;

}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    background-color: darkgrey;
    padding: 1rem;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.footer ul{
    display: flex;
    flex-direction: row;
}
/*ESTILOS PARA INDEX.HTML*/

@media(max-width:480px){
    .header a{
        text-align: center;
        vertical-align: middle;
        margin-top: 50px;
    }

    .header ul{
        display: block;
    }
    .navbar{
        display: grid;
        grid-template-areas: 
        'profile'
        'records';
        margin-right: 20px;
        text-align: center;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        align-items: center;
    }
}
@media(max-width:768px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        align-items: center;
    }
}

/*ESTILOS PARA ABOUT.HTML*/

/*ESTILOS PARA CONTACT.HTML*/
.section-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#button{
    width: 15%;
    margin: 10px;
}
/*ESTILOS PARA LISTS.HTML*/
.list-item img{
    width: 250px;
}

.lists{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.list-item{
    padding: 1rem;
    border-bottom: solid darkblue 1px;
}
/*ESTILOS PARA PROFILE.HTML*/


.top-section{
    display: grid;
    grid-template-areas: 
    'profile-section profile-menu user-stats';
    margin-bottom: 2rem;
}

.profile-section{
    display: flex;
    flex-direction: row;
}

.name{
    position: relative;
    margin-top: 45px;
    padding: 1rem;
}

.avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.navbar-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
}

.user-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stat{
    padding: 1rem;
    border-right: grey solid 1px;
    font-size: 20px;
}

.user-stats p{
    text-align: center;
}
/*RECORDS CARDS Y CARDS SE APLICAN EN PROFILE Y LISTS*/
.records-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    padding: 1rem;
}

.cards img{
    width: 220px;
    height: 250px;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    border-bottom-width: 1px;
    border-bottom-color: darkblue;
    border-bottom-style: solid;
}

@media(max-width:902px){
    .top-section{
        grid-template-areas: 
        'profile-section profile-menu'
        'user-stats user-stats';
    }
    .user-stats{
        margin-top: 50px;
    }
}

@media(min-width:300px) and (max-width:630px){
    .top-section{
        grid-template-columns: none;
        grid-template-areas: none;
        grid-template-rows: repeat(2, 1fr);
    }
    .stat{
        font-size: 20px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*ESTILOS PARA RECORDS.HTML*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-records{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.navbar-nav{
    flex-direction: row;
    justify-content: center;
}
/*ESTILOS DE DROPDOWN SE APLICAN EN RECORDS Y WISHLIST*/
.dropdown {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.records{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    border-bottom: solid darkblue 1px;
}

/*ESTILOS PARA WISHLIST*/
.navbar-wishlist{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 200px;
}


.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*ESTILOS PARA ARCHIVOS DEL DIRECTORIO RECORD*/
.grid-container-santi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media(max-width:916px){
    .grid-container-santi{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
    }
}

@media(max-width:748px){
    .grid-container-santi{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
    .card p{
        font-size: 16px;
    }

    .card img{
        width: 60%;
    }
}

.actions-logos{
    width: 2rem;
}

.actions-logos :hover{
    color: greenyellow;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.links-navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.links-navbar a{
    padding: 1rem;
    font-size: 20px;
}
.links-navbar h5{
    padding: 1rem;
}


.grid-item h3{
    font-size: 40px;
    font-family: 'Caprasimo', serif;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text{
    font-size: 26px;
}

.actions1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.rate{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rate-panel{
    display: inline-block;
}

.grid-item img{
    width: 100%;
}
