.section-form{
    @include flex(row, space-around, unset);
    @include tablet(){
        @include flex(column-reverse, center, center);
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.resume{
    padding: 1rem;
    color: $text-color;
    font-size: $main-font-text;
    h4{
        font-size: $secondary-font-titles;
        color: $title-color1;
    }
    h3{
        color: $title-color2;
    }
    @include tablet(){
        font-size: $mobile-font-text;
        h4{
            font-size: $mobile-font-titles;
        }
    }
    @include mobile(){
        font-size: $mobile-font-text;
    }
    p{
        @include mobile(){
            font-size: $mobile-font-text;
        }
    }
}

.membership{
    @extend .resume;
}

.use{
    @extend .resume;
}

.welcome-section{
    .welcome-title{
        color: $title-color1;
        font-family: map-get($map: $google-fonts, $key: protest-strike);
    }
}