/*RECORDS CARDS Y CARDS SE APLICAN EN PROFILE Y LISTS*/


.records-cards{
    @include flex(column, center, center);
    .cards{
        padding-left: 1rem;
        img{
            padding: 0.5rem;
            width: 200px;
            height: 230px;
            @include tablet(){
                width: 180px;
                height: 210px;
            }
            @include mobile(){
                width: 140px;
                height: 170px;
            }
        }
    }
    .list-text{
        font-family: map-get($map: $google-fonts, $key: protest-strike);
        font-size: $secondary-font-titles;
        @include mobile(){
            font-size: $main-font-text;
        }
        border-bottom-width: 1px;
        border-bottom-color: darkblue;
        border-bottom-style: solid;
        color: $title-color2;
    }
}
.list-title{
    color: $title-color1;
    font-size: $secondary-font-titles;
    padding: 1rem;
    font-family: map-get($map: $google-fonts, $key: single-day);
    @include mobile(){
        font-size: $mobile-font-titles;
    }
}