footer{
    //esta parte se aplicara a TODA las paginas en general
    @extend main;
    text-align: center;
    background-color: map-get($map: $bgcolors, $key: footer);
    padding: 1rem;
    font-family: map-get($map: $google-fonts, $key: diphy);
    @include mobile(){
        p{
            font-size: $mobile-font-text;
        }
    }
}