footer{
    //esta parte se aplicara a TODA las paginas en general
    text-align: center;
    background-color: map-get($map: $bgcolors, $key: footer);
    padding: 1rem;
    font-family: map-get($map: $google-fonts, $key: diphy);
    p{
        color: white;
        @include mobile()
        {font-size: $mobile-font-text;}
    }
}