.title-h3{
    text-align: center;
    text-decoration: underline;
    color: $title-color2;
    font-family: map-get($map: $google-fonts, $key: protest-strike);
    margin-top: 2rem;
}

.popular-reviews{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include mobile(){
        @include flex(column, center, center);
        p{
            font-size: $mobile-font-text;
        }
    }
    .review-container{
    width: 80%;
    border-bottom-style: solid;
    @include mobile(){
        @include flex(column, start, center);
        border-bottom-right-radius: unset;
    }
    .record-cover{
        height: 120px;
        width: 100px;
        align-self: self-start;
        @include mobile(){
            height: 100px;
            width: 80px;
        }
    }
    .data{
        @include flex(column,center, start);
        @include mobile(){
            @include flex(row, space-between, center);
        }
        .record-title{
            @include flex(row, start, center);
            *{
                margin-bottom: 0;
            }
            @include mobile(){
                @include flex(column, center, center);
            }
            .record-name{
                margin-right: 0.5rem;
            }
            .release-year{
                align-self: self-start;
            }
        }
        .profile-data{
            @include flex(row, start, center);
            @include mobile(){
                @include flex(row, end, center);
            }
            img{
                border-radius: 50%;
                width: 10%;
            }
            p{
                text-align: center;
                margin-bottom: 0;
            }
            }
        }
    }
    .user-rate{
        display: flex;
        align-self: self-start;
        .rate-logo{
            @include flex(row, center, center);
            .bi{
                color: green;
                padding: 2px;
            }
        }
    }
    .review-text{
        width: 70%;
        @include tablet(){
            width: 100%;
            p{                
                font-size: $mobile-font-text;
            }
        }
    }
}