main{
    //esta parte se aplicara a TODA las paginas en general
    background-color: map-get($map: $bgcolors, $key: main);
    p{
        color: $text-color;
        font-size: $main-font-text;
    }
}