main{
    //esta parte se aplicara a TODA las paginas en general
    background-image: linear-gradient(to top, #191919,rgb(68, 67, 67));
    overflow-x: hidden;
    p{
        color: $text-color;
        font-size: $main-font-text;
    }
}