//ESTILOS PARA PROFILE.HTML
.top-section{
    display: grid;
    grid-template-areas: 
    'profile-section user-stats';
    margin-bottom: 2rem;
    @include mobile(){
        @include flex(column, center, center);
    }
    .profile-section{
        @include flex(row, center, center);
        padding-top: 0.5rem;
        .name{
            position: relative;
            padding: 1rem;
            color: $text-color;
            @include tablet(){
                font-size: $main-font-text;
            }
        }
        .avatar{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            @include tablet(){
                height: 100px;
                width: 100px;
            }
            @include mobile(){
                height: 70px;
                width: 70px;
            }
        }
    }
    .user-stats{
        @include flex(row, center, center);
        @include mobile(){
            padding-top: 1rem;
        }
        p{
            text-align: center;
        }
        .stat{
            padding: 1rem;
            border-right: grey solid 1px;
            font-size: $main-font-text;
            color: $text-color;
            font-family: map-get($map: $google-fonts, $key: eczar); 
            @include tablet(){
                font-size: $mobile-font-text;
            }
        }
    }
}
.last-review{
    margin-top: 2rem;
    @include flex(column,center,center);
    h3{
        border-bottom-style: solid;
        margin-bottom: 1rem;
        font-family: map-get($map: $google-fonts, $key: bebas);
        color: $title-color1;
        @include mobile(){
            align-self: flex-start;
            margin-left: 42px;
            margin-bottom: 1rem;
        }
    }
    .review-container{
        width: 50%;
        .review-header{
            .data{
                @include mobile(){
                    @include flex(column, center, center);
                }
                .profile-data{
                    img{
                        height: 50px;
                        width: 50px;
                        @include tablet(){
                            height: 40px;
                            width: 40px;
                        }
                        @include mobile(){
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}
.interactions-data{
    margin-top: 2rem;
    @include flex(column,center,unset);
    h4{
        text-align: center;
        text-decoration: underline;
        color: $title-color2;
        font-family: map-get($map: $google-fonts, $key: protest-riot);
    }
    .interaction{
        color: rgb(229, 228, 228);
        *{
            margin-bottom: 0;
        }
        @include flex(row, space-around, center);
    }
}