.section-header{
    @include flex(row, center,center);
    @include tablet(){
        @include flex(column, center,center);
    }
    .filters-title{
        h3{
            color: $title-color1;
            font-family: map-get($map: $google-fonts, $key: eczar);
            margin-bottom: 0;
        }
    }
    .filters{
        @include flex(row, center, center);
        .filter{
            .year-filter{
                margin-left: 1rem;
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
                border-radius: 10%;
            }
            .genre-filter{
                @extend .year-filter;
            }
            @include flex(row,center,center);
        }
        @include mobile(){
            @include flex(column, center, center);
        }
    }
    .search{
        @include flex(row,center,center);
    }
}


